<div class="page-header">
  <h3>Restaurant Rating #<%= @restaurant_rating.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Restaurant</dt>
      <dd><%= @restaurant_rating.restaurant_id %></dd>

      <dt>Avg stars</dt>
      <dd><%= @restaurant_rating.avg_stars %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurant_ratings" class="btn btn-primary">
        Back
      </a>
      <a href="/restaurant_ratings/<%= @restaurant_rating.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restaurant_rating/<%= @restaurant_rating.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
